extends layout.pug

block content
    // Start Page Content
    .row
        each rack in racks
            .col-md-3
                div(class="card p-20 "+(rack.online?'bg-primary':'bg-danger'))
                    .media.widget-ten
                        .media-left.meida.media-middle(style='\
                            width: 100%;\
                            ')
                            span(style='\
                            font-size: 25px;\
                            ')
                                | #{rack.name}
                            .media-body.media-text-right
                                h2.color-white #{rack.online?'Online':'Offline'}
                                p.m-b-0 LastCheckIn: #{rack.last}
    // End PAge Content